
:root{
  --fondogradiante:linear-gradient(to bottom, #dd2476, #ff512f);  
  --colorglobal:#05023d;
  --TextClaro: white;

}

body{
    font-family: "Titillium Web", sans-serif;
}

main{

    height: auto !important;
    height: 100%;
    min-height: 80vh;
}
header{
    background: var(--colorglobal);
    color: var(--TextClaro);
    background: var(--fondogradiante);
}
footer{

    background: rgba(0, 0, 0, 0.815);
}

.iconos i{
    color:  var(--colorglobal);
   
}